{% extends 'main/main.html' %}
{% load static %} 
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'add_order/map.css' %}" />
    <script  src="{% static 'add_order/map.js' %}"></script>
{% endblock %}
{% block content %}
<div class="pb-4 pt-5 text-center"> 
    <h2>Add Order</h2>
    <p class="lead">Place a new order.</p>
</div>
    <form id = 'form' method="post" onsubmit="submitForm(event)" action="/add_order/" autocomplete="off">
        <div class='row'>
            <div class='col', style="min-width: 400px;">
                {% csrf_token %}
                <h4 class="mb-3">Cient Information</h4>
                {{ Add_Order }}
                <hr class="my-2">
                <div class = "" >
                    <h4 class="mb-3">Order</h4>
                    {{ OrderProductFormSet.management_form }}
                    <table id='formset-table'>
                        
                    </table>
                    <div class= 'px-3 py-2 row'>
                        <button id='add-more' type ='button' class="btn btn-success"><i class="bi-plus-lg"></i></button>               
                    </div>
                </div>
            </div>
            <div  class = 'col'>
                <h4 class="ml-4">Map <small class="text-muted">Verify the address.</small></h4>
                <div class='m-4 text-center shadow ' style="width:400px;height:400px;">
                    <div id="map" style="height:100%;"></div>
                    <div id="infowindow-content" style = "display: none;">
                        <span id="place-name" class="title"></span><br />
                        <span id="place-address"></span>
                    </div>
                    <script src="https://maps.googleapis.com/maps/api/js?key={{MapsJavaScirptAPIKey}}&libraries=places&callback=initMap">
                    async </script>            
                </div>
            </div>
        </div>
        <button type ='submit' name='agregar' id = 'id_submit' class="btn mt-3 btn-dark btn-lg btn-block">Add Order</button>
    </form>
    <div id = 'empty-form' hidden>
        <div class = "row">
            <div class="col fieldWrapper">
                {{ OrderProductFormSet.empty_form.product.errors }}
                <label for="{{  OrderProductFormSet.empty_form.product.id_for_label }}">Product:</label>
            </div>
            <div class="col fieldWrapper">
                {{  OrderProductFormSet.empty_form.quantity.errors }}
                <label for="{{  OrderProductFormSet.empty_form.quantity.id_for_label }}">Quantity:</label>
            </div>
            <button hidden class="btn btn-success add-form-row">+</button>
        </div>
        <div class = "row">
            {{  OrderProductFormSet.empty_form.non_field_errors }}
            <div class="col fieldWrapper">
                {{  OrderProductFormSet.empty_form.product }}
            </div>
            <div class="col fieldWrapper">
                {{  OrderProductFormSet.empty_form.quantity }}
            </div>
            <button id = 'remove' type ='button' class="btn btn-danger"><i class="bi-trash-fill"></i></button>
        </div>
    </div>
    
</div>
{% endblock %}
{% block script %}
<script src="{% static 'add_order/form.js' %}"></script>

{% endblock %}
